<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Files</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/theme.css" />
  </head>
  <body class="panel files-panel">
    <div class="files-header">
      <button id="open-root">📁 Abrir carpeta</button>
      <input id="file-search" type="text" placeholder="Buscar archivo..." />
    </div>

    <div id="file-tree" class="file-tree">
      <div class="hint">Seleccione una carpeta raíz</div>
    </div>

    <script type="module" src="../js/files.js"></script>
  </body>
</html>
