<div class="topbar">
  <div class="menu-bar">

    <div class="menu-item" data-menu="file">Archivo</div>
    <div class="menu-item" data-menu="edit">Editar</div>
    <div class="menu-item" data-menu="view">Ver</div>
    <div class="menu-item" data-menu="sim">Simulation</div>

  </div>

  <!-- Menus -->
  <div class="menu-dropdown" id="menu-file">
    <div class="menu-option" id="file-new">Nuevo</div>
    <div class="menu-option" id="file-open-file">Abrir archivo</div>
    <div class="menu-option" id="file-open-dir">Abrir directorio</div>
    <div class="menu-option" id="file-save">Guardar</div>
    <div class="menu-option" id="file-save-as">Guardar como...</div>
    <div class="menu-option" id="file-exit">Salir</div>

  </div>


  <div class="menu-dropdown" id="menu-edit">
    <div class="menu-option">Deshacer</div>
    <div class="menu-option">Rehacer</div>
    <div class="menu-sep"></div>
    <div class="menu-option">Cortar</div>
    <div class="menu-option">Copiar</div>
    <div class="menu-option">Pegar</div>
  </div>

  <div class="menu-dropdown" id="menu-view">
    <div class="menu-option">Toggle Sidebar</div>
    <div class="menu-option">Toggle Terminal</div>
    <div class="menu-option">Fullscreen</div>
  </div>

  <div class="menu-dropdown" id="menu-sim">
    <div class="menu-option" id="sim-run">Run Simulation</div>
    <div class="menu-option" id="sim-stop">Stop</div>
    <div class="menu-sep"></div>
    <div class="menu-option">Waveforms</div>
  </div>
</div>